@page "/"
@rendermode InteractiveAuto

<PageTitle>pageee</PageTitle>
@* Style="background-color: yellowgreen; color: white; width: 200px; height: 60px;" *@
<div style="display: flex;">
    <div style="flex: 1; flex-direction: row;">
        <MudButton id="addRectBtn" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Primary">Добавить прямоугольник</MudButton><br>
        <MudButton id="addCircleBtn" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Secondary">Добавить круг</MudButton><br>
        <MudButton id="addLineBtn" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Info">Добавить линию</MudButton><br>
        <MudButton id="delShapeBtn" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Error">Удалить фигуру</MudButton><br>
        <MudButton id="rotateLeftBtn" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Info">Повернуть вправо</MudButton><br>
        <MudButton id="rotateRightBtn" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Error">Повернуть влево</MudButton><br>
        <MudButton id="downloadBtn" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Error">Скачать диаграмму</MudButton><br>

        <label for="fileInput" class="custom-file-upload">
            Загрузить диаграмму
        </label><br>
        <input type="file" id="fileInput" name="fileInput"><br>

        <MudButton id="uploadCssBtn2" Variant="Variant.Filled" Color="Color.Primary">Загрузить еще CSS(лх)</MudButton><br>
        <input type="file" id="cssFileInput2" accept=".css"><br>

        <MudButton id="uploadCssBtn" Variant="Variant.Filled" Color="Color.Primary">Загрузить CSS</MudButton><br>
        <input type="file" id="cssFileInput" accept=".css"><br>
    </div>
    <div style="flex: 2;">
        <canvas id="canvas" width="700" height="500" style="border:1px solid grey"></canvas>
        <div id="contextMenu" class="context-menu" hidden>
            <MudButton id="deleteItem" class="context-menu-item" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Primary">Delete</MudButton><br>
            <MudButton id="rotateLeftItem" class="context-menu-item" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Secondary">Rotate Left</MudButton><br>
            <MudButton id="rotateRightItem" class="context-menu-item" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Info">Rotate Right</MudButton><br>
            <MudButton id="connect_obj" class="context-menu-item" Variant="Variant.Filled" Style="width: 150px; height: 60px;" Color="Color.Info">Connect objects (connectionvsvsdv)</MudButton><br>
        </div>
    </div>
</div>

<h3>Debug Information</h3>
<textarea id="debugOutput" rows="10" cols="150" readonly></textarea>

<script src="js/file.js"></script>
