@inherits LayoutComponentBase
@using MudBlazor
@using MudBlazor.Services

<style>
    .custom-a {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    #recovery-scheme.btn.btn-primary {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    #recovery-scheme.btn.btn-primary:focus,
    #recovery-scheme.btn.btn-primary:active {
        outline: none !important;
        box-shadow: none !important;
    }

</style>


<div class="page">
@*     <div class="sidebar">
        <NavMenu />
    </div> *@


    <main>
        <div id="main-layout" class="top-row px-4 d-flex align-items-center justify-content-between">
            <button id="recovery-scheme" class="btn btn-primary">
                Восстановить последние изменения
            </button>
            <div>
                <a href="/" target="_blank" class="custom-a">App</a>
                <label>/</label>
                <a href="reg" target="_blank" class="custom-a">Sign up</a>
                <label>/</label>
                <a href="Test.razor" target="_blank" class="custom-a">Sign in</a>
                <a href="https://mephi.ru/" target="_blank">About us</a>
            </div>
        </div>

        <MudThemeProvider/>
            <MudDialogProvider/>
                <MudSnackbarProvider/>
                    <MudPopoverProvider/>
                        <article class="content px-4">
                            @Body
                        </article>
                    
    </main>
</div>

@* <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@